<div class="container">
    <p class="float-right"><a href="https://github.com/sergioardz/news-scraping" target="_blank">Github Repo</a></p>
    <p>Enjoyed this website app? Check out the <a href="https://sergioardz.github.io/Portfolio/" target="_blank">Author</a> here. Articles by: Update Source.</p>
</div>