<section class="jumbotron text-center" id="smain">
    <div class="container" id="main">
        <br>
        <h1 class="jumbotron-heading" id="title">Saved Articles</h1>
        <p id="pstitle">
            Top Headline News
        </p>

        <p>
            <br>
        </p>
    </div>
</section>
<div class="album py-5">
    <div class="container">
        <div class="row">
            {{!-- Insert Each Here --}}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn btn-info">Comment</button>
                            </div>
                            <button type="button" class="btn btn btn-danger">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
            {{!-- End Each Here --}}
        </div>
    </div>
</div>